.delete-review-button {
    margin: 5px 0px;
    width: 100px;
    color: #FFF;
    background-color: salmon;
    border-radius: 5px;
    border: 1px solid salmon;
}

.edit-delete-spot {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0;
}

.edit-spot {
    border: salmon solid;
    padding: 5px;
}

.delete-spot {
    border: salmon solid;
    padding: 5px;
}

.single-spot {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: flex-start;
    margin: 0 25em;
}

.single-spot-image {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.singleImg {
    border-radius: 10px;
    border: black 5em;
    width: 400px;
    height: 350px;
    margin: 20px 0;
}

.rating-info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.review-title {
    margin-top: 40px;
    margin-bottom: 10px;
}

.owner-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.posted-reviews {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.user-review-name {
    font-weight: bold;
}

.review-bundle {
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(250, 128, 114, 0.1);
    border-radius: 0.25em;
    width: auto;
}
