.delete-review-button {
    margin: 5px 0px;
    width: 100px;
    color: #FFF;
    background-color: salmon;
    border-radius: 5px;
    border: 1px solid salmon;
}

.edit-delete-spot {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0;
}

.edit-spot {
    border: salmon solid;
    padding: 5px;
}

.delete-spot {
    border: salmon solid;
    padding: 5px;
}

.single-spot {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: flex-start;
    padding: 0 80px;
}

.single-spot-image {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.singleImg {
    border-radius: 10px;
    border: black 5em;
    width: 400px;
    height: 350px;
    margin: 20px 0;
}

.rating-info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.rating-info-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-title {
    margin-top: 40px;
    margin-bottom: 10px;
}

.owner-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.owner-name {
    font-weight: bold;
}

.posted-reviews {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.user-review-name {
    font-weight: bold;
}

.review-bundle {
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(250, 128, 114, 0.1);
    border-radius: 0.25em;
    width: auto;
}

.booking-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 10px;
}

.price-rate-review {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.rate-review-info {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.review-length {
    color: rgb(110, 110, 110);
}

.fa-star {
    font-size: small;
}

.availability {
    width: 100%;
}

.availability-child {
    width: 100%;
    border: 1px salmon solid;
}
