.errors {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  textarea {
    margin-bottom: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input {
    margin-bottom: 10px;
    height: 50px;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  }

  .submit {
    height: 40px;
    width: 200px;
    background: rgb(60, 56, 56);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
  }
  
  button:hover {
    cursor: pointer;
  }