.bar-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.bar-right li a {
    color: rgba(250, 128, 114);
    padding: 10px;
    border-radius: 15px;
}

.bar-right li a:hover {
    background-color: rgb(246, 246, 246);
    transition-duration: 0.4s;
    border-radius: 15px;
}

.create {
    display: flex;
    margin-left: 800px;
}

.fa-cloud {
    color: salmon;
}

.hidden {
    display: none
}

.loginSign-button {
    width: 100%;
    padding: 0.25rem;
    background-color: salmon;
    border-radius: 0.25rem;
    border: 1px salmon solid;
    color: white;
}

.loginSign-button1 {
    background: white;
    border: none;
    border-radius: 0.25rem;
    color: black;
    display: flex;
    padding: 5px 0;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
}

.loginSign-button1:hover {
    background-color: rgb(246, 246, 246);
    transition-duration: 0.4s;
}

.logo {
    align-items: center;
    justify-content: center;
    color: salmon;
    font-size: 22px;
}

.nav {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    list-style: none;
    padding: 10px 80px;
    margin: 0;
    border-bottom: solid 1px lightgrey;
}

.profile-button {
    background-color: rgba(250, 128, 114);
    border: white;
    border-radius: .25rem;
    padding: 5px 0;
    width: 50px;
}

.profile-button i {
    color: white;
    padding: 0 0.25rem;
}

.profile-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-menu {
    /* align-items: center; */
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 13px;
    /* gap: 0.25rem; */
    /* height: auto; */
    list-style: none;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
    flex-wrap: wrap;
}

.dropdown-menu li {
    display: flex;
    padding: 4px;
    font-weight: bold;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
}