.bar-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar-right {
    display: flex; 
    align-items: center;
    gap: 20px
}

.create {
    display: flex;
    margin-left: 800px;
}

.cloud {
    height: 2em;
    width: 2em;
}

.hidden {
    display: none
}

.logo {
    align-items: center;
    justify-content: center;
    color: salmon;
    font-size: 22px;
}

.nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    list-style: none;
    padding-right: 40px;
}

.profile-dropdown {
    list-style: none;
}